body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border{
  border: 3px solid #000;
}
.top-pane{
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content:space-around;
}
.bottom-pane{
  height: 50vh;
  width: 100%;
}

.iframe{
  width: 100%;
  height: 100%;
}

.editor{
  width: 95%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.CodeMirror {
  text-align: left!important;
  height: 100%  !important;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;

}

.react-codemirror2{
  height:100%;
}

.minimise-button{
  position: absolute;
  right:0%;
  cursor: pointer;
}

.minimised{
  width:5%;
}

